*:focus {
  outline: none;
}

body {
  font-family: arial;
  background-color: rgba(0, 0, 0, 0.025);

  .header {
    margin-top: 35px;
    margin-bottom: 35px;

    .searchBar {
      margin: auto;
      width: 800px;

      .inputField {
        margin: auto;
        width: 800px;
        height: 40px;
        background: none;
        font-size: 36px;
        border: none;
        border-bottom: 2px solid lightgrey;
      }
    }
  }

  .contentList {
    height: 100%;
    margin-bottom: 35px;

    .content {
      width: 800px;
      height: 400px;
      background-color: white;
      margin: auto;
      margin-bottom: 35px;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0px 0px 5px 0px rgba(102, 102, 102, 0.1);

      .contentHeader {
        border-bottom: 1px solid lightgrey;
        margin-bottom: 15px;
        padding-bottom: 15px;

        .contentTitle {
          font-weight: bold;
        }

        .contentTimestamp {

        }

        .contentUrl {
          display: block;
          font-size: 12px;
          color: grey;
        }
      }

      .contentBody {
        overflow: scroll;
        height: 90%;

        p {
          margin-top: 0px;
        }
      }
    }
  }
}