*:focus {
  outline: none;
}

::-webkit-scrollbar { 
    display: none; 
}

html {
  overflow: hidden;
  height: 100%;

  body {
    height: 100%;
    overflow: auto;
    font-family: arial;
    background-color: #f9f9f9;

    a {
      text-decoration: none;
      color: grey;
    }

    .header {
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      position: fixed;
      width: 100%;
      top: 0px;
      left: 0px;
      z-index: 100;
      background-color: #f9f9f9;

      .homeLink {
        float: left;
        margin-left: 35px;
        width: 100px;

        a {
          float: left;
        }
      }

      .searchBar {
        margin: auto;
        width: 800px;
        max-width: 60%;

        .inputField {
          width: 100%;
          height: 40px;
          background: none;
          font-size: 36px;
          border: none;
          border-bottom: 2px solid lightgrey;
        }
      }

      .loginLogoutLink {
        float: right;
        margin-right: 35px;
        width: 100px;

        a {
          float: right;
        }
      }
    }

    .landingMain {
      text-align: center;
      display: inline-block;
      margin: auto;
      width: 100%;
      top: 30%;
      position: absolute;

      h1 {
        font-size: 50px;
      }

      h2 {
        color: grey;
      }
    }

    .contentList {
      margin-top: 60px;
      margin-bottom: 80px;
      overflow: scroll;

      .content {
        width: 800px;
        max-width: 90%;
        height: 400px;
        background-color: white;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 10px;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px 0px rgba(102, 102, 102, 0.1);
        &.expanded {
          background-color: blue;
        }


        .contentHeader {
          border-bottom: 1px solid lightgrey;
          margin-bottom: 15px;
          padding-bottom: 15px;

          .contentTitle {
            font-weight: bold;
          }

          .contentTimestamp {
            float: right;
          }

          .contentUrl {
            display: block;
            font-size: 12px;
          }
        }

        .contentBody {
          overflow: scroll;
          height: 85%;
          &.expanded {
            background-color: red;
          }

          p {
            margin-top: 0px;

            .highlight {
              box-shadow: inset 0 0px 0 white, inset 0 -2.4px 0 #0074D9;
            }
          }
        }
      }
    }
  }
}