*:focus {
  outline: none;
}

body {
  font-family: arial;
  background-color: rgba(0, 0, 0, 0.025);

  .header {
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;

    a {
      text-decoration: none;
      color: grey;
    }

    .homeLink {
      float: left;
      margin-left: 35px;
      width: 100px;

      a {
        float: left;
      }
    }

    .searchBar {
      margin: auto;
      width: 800px;
      max-width: 60%;

      .inputField {
        width: 100%;
        height: 40px;
        background: none;
        font-size: 36px;
        border: none;
        border-bottom: 2px solid lightgrey;
      }
    }

    .logoutLink {
      float: right;
      margin-right: 35px;
      width: 100px;

      a {
        float: right;
      }
    }
  }

  .contentList {
    height: 100%;
    margin-bottom: 35px;

    .content {
      width: 800px;
      max-width: 90%;
      height: 400px;
      background-color: white;
      margin: auto;
      margin-bottom: 35px;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0px 0px 5px 0px rgba(102, 102, 102, 0.1);

      .contentHeader {
        border-bottom: 1px solid lightgrey;
        margin-bottom: 15px;
        padding-bottom: 15px;

        .contentTitle {
          font-weight: bold;
        }

        .contentTimestamp {
          float: right;
        }

        .contentUrl {
          display: block;
          font-size: 12px;

          a {
            text-decoration: none;
            color: grey;
          }
        }
      }

      .contentBody {
        overflow: scroll;
        height: 85%;

        p {
          margin-top: 0px;
        }
      }
    }
  }
}